In [1]:
!pip install pandas cx_Oracle ipython-sql > /dev/null

Create and populate a Oracle Database from a Pandas Dataframe.  
Uses SQL alchemy and cx Oracle to connect the server with the client.

In [6]:
import cx_Oracle
import pandas as pd
from sqlalchemy import types, create_engine


usr = 'movies_project'
pwd = 'intekglobal123'
url = 'db:1521'
srv = 'xepdb1'

conn_string = 'oracle+cx_oracle://{}:{}@{}/?service_name={}'.format(usr,pwd,url,srv)
conn = create_engine(conn_string,encoding='UTF-8')

In [7]:
def process_column(x):
    words = x.split(' ')
    for k,word in enumerate(words):
        words[k] = words[k].strip().lower()    
        if '(' in word:
            words[k] = words[k][1:]
        if ')' in word:     
            words[k] = words[k][:-1]
    return '_'.join(words)

In [8]:
df = pd.read_json(
    '../data/raw/rotten_tomatoes_Mon_Nov_30_22_48_06_2020.json', lines=True
)
new_columns = [process_column(x) for x in df.columns]
df.columns = new_columns

In [9]:
df.to_sql('rotten_tomatoes_raw', conn, if_exists='replace',index=False)

/opt/conda/lib/python3.7/site-packages/sqlalchemy/dialects/oracle/base.py:1339: SAWarning: Oracle version (18, 0, 0, 0, 0) is known to have a maximum identifier length of 128, rather than the historical default of 30. SQLAlchemy 1.4 will use 128 for this database; please set max_identifier_length=128 in create_engine() in order to test the application with this new length, or set to 30 in order to assure that 30 continues to be used.  In particular, pay close attention to the behavior of database migrations as dynamically generated names may change. See the section 'Max Identifier Lengths' in the SQLAlchemy Oracle dialect documentation for background.
  % ((self.server_version_info,))