Query the previously created schema using sql and answer the following question: 

Which was the highest/lowest-grossing movie for the available years? 	        
Which are the movies directed by George Lucas? 		                 	        	
List the different genres available in the database			     	       
Which genre has the highest rating on average?				       
Which genre has the most won awards?			       	 	        
What is the average running time by decade? 		           		        
which actors/actresses appear in the highest-grossing film?		       
Which is the least profitable genre? 	
Which are the top 5 countries making movies?				      	
Which are the top 10 frequently used filming locations?			      
Which movie has more positive/negative critics? What is the genre?	      
Which director has directed more movies?					      
Which director has won more awards?					      
Which movie has been nominated for more awards?	
Which movie has won more awards?			     
Which movie has won more awards per genre?				     
Which movies have a score of 9 or higher? Who directed them?            	     
What was the average budget for movies with a score/rating of 90 or higher?  
What is the movie with the highest rate per decade?			    
Find the movie with fewer awards from the top 20 most expensive movies. (Show output as “movie-x won N awards and had a budget of $99,999,999.00” )
Find the movie with the most awards from the 20 less expensive movies.
Name actors performing in ‘The godfather’						
Which actor/actress has appeared in more movies?		
How much money was spent making movies in the year 1991?
What is the average running time per decade?
Create a column where the legend "OSCAR" appears if the movies have won any Oscars and the legend "no-oscar" if none. show the list in alphabetical order
Guess the name of the actor appearing in the list of movies! Create a view that returns 
the first and last string of the actor's name and "*****" in between. 
How often critics disagree with the fan’s opinion?

In [31]:
import cx_Oracle

usr ='movies_project'
pwd = 'intekglobal123'

#tns="db:1521/xe"
dsn = cx_Oracle.makedsn("db", 1521, service_name="xepdb1")

connection = cx_Oracle.connect(usr, pwd, dsn,encoding="UTF-8")


#check connectivity
cursor = connection.cursor()
for val in cursor.execute("""   SELECT * FROM DUAL """):
    print("Values:", val)

Values: ('X',)

## FUNCTIONS

In [32]:
def q_max_names(colname):
    '''
    Select max number of names in all columns.
    Input: Column Name
    Output: Query String
    '''
    return f"""  
SELECT MAX(num_{colname}) FROM  (
SELECT  (LENGTH( "{colname}" ) - LENGTH(REPLACE( "{colname}" ,',','')) + 1) AS num_{colname} 
FROM (
SELECT TO_CHAR(TRIM("{colname}" )) AS "{colname}"   FROM ROTTEN_TOMATOES_RAW rtr 
WHERE "{colname}"  IS NOT NULL 
)
)
"""

#example
max_writers =  [int(result[0]) for col in ['WRITER'] for result in cursor.execute(q_max_names(col))][0]

max_writers

8

In [33]:
def union_all(name_prefix,new_name,max_columns):
    """ union all columns {name_prefix}_1, ... , {name_prefix}_{max_columns} in a {new_name}
        Incorporates film_name
    """
    selec_from =  lambda k: f"""SELECT rtf.*, {name_prefix}_{k} AS {new_name} FROM ROTTEN_TOMATOES_FLAT rtf
    WHERE {name_prefix}_{k} is not null
    """
    q_string = '\n UNION ALL \n'.join([selec_from(k) for k in range(1,max_columns+1)])
    return q_string 

def union_and_equal_value(name_prefix,new_name,max_columns,col_value):
    """ applies union_all(...) and 'where' equal to {col_value} clause
    """
    return f"""
SELECT {new_name}_db.*
FROM ({union_all(name_prefix,new_name,max_columns)}) {new_name}_db

WHERE {new_name}_db.{new_name} = '{col_value}'
"""

## QUERIES

### One
> Which was the highest/lowest-grossing movie for the available years?

In [34]:
q_1 = f"""
SELECT film_name,gross_num
FROM
(
	SELECT  rtr.*,
	   
	    MAX(gross_num) OVER() max_gross,
	  
	    MIN(gross_num) OVER() min_gross
	    
		FROM (
		
			SELECT rtr.*, 
				CASE SUBSTR(bogu,-1) 
					WHEN 'M' THEN TO_NUMBER(REVERSE(SUBSTR(REVERSE(bogu),2))) * 1000000
					WHEN 'K' THEN TO_NUMBER(REVERSE(SUBSTR(REVERSE(bogu),2))) * 1000
					ELSE NULL
				END AS GROSS_NUM
			FROM 
				(
				SELECT rtr.*, SUBSTR(TO_CHAR( BOX_OFFICE_GROSS_USA),2) AS bogu FROM ROTTEN_TOMATOES_RAW rtr
			   ) rtr
		
		)  rtr

) WHERE  max_gross = gross_num OR min_gross = gross_num
ORDER BY gross_num ASC 
"""

In [35]:

for k,v in zip(['highest','lowest'],cursor.execute(q_1)):
    
    print(k,'film:',v[0], '-- box_office_gross', str(v[1]) +' Dlls.')

highest film: Up for Grabs (2005) -- box_office_gross 1900 Dlls.
lowest film: Avengers: Endgame (2019) -- box_office_gross 858400000 Dlls.

### Two
  > Which are the movies directed by George Lucas?

In [36]:
max_writers =  [int(result[0]) for col in ['WRITER'] for result in cursor.execute(q_max_names(col))][0]

max_writers

8

In [37]:
for r in  cursor.execute(union_and_equal_value('writer','n_writer',max_writers,'George Lucas')):
    print(r[0],r[1])

What about Woody Allen?

In [38]:
for r in  cursor.execute(union_and_equal_value('writer','n_writer',max_writers,'Woody Allen')):
    print(r[0],r[1])

2011 Midnight in Paris (2011)
2013 Blue Jasmine (2013)

### Three

 > List the different genres available in the database

In [39]:
max_genres =  [int(result[0]) for col in ['GENRE'] for result in cursor.execute(q_max_names(col))][0]

max_genres

6

In [40]:
union_genres_union_clauses = union_all(name_prefix='genre',new_name ='n_genre',max_columns=max_genres)
union_genres = f"""
SELECT DISTINCT(n_genre)
FROM ({union_genres_union_clauses})
ORDER BY n_genre
"""
print(union_genres)

SELECT DISTINCT(n_genre)
FROM (SELECT rtf.*, genre_1 AS n_genre FROM ROTTEN_TOMATOES_FLAT rtf
    WHERE genre_1 is not null

 UNION ALL
SELECT rtf.*, genre_2 AS n_genre FROM ROTTEN_TOMATOES_FLAT rtf
    WHERE genre_2 is not null

 UNION ALL
SELECT rtf.*, genre_3 AS n_genre FROM ROTTEN_TOMATOES_FLAT rtf
    WHERE genre_3 is not null

 UNION ALL
SELECT rtf.*, genre_4 AS n_genre FROM ROTTEN_TOMATOES_FLAT rtf
    WHERE genre_4 is not null

 UNION ALL
SELECT rtf.*, genre_5 AS n_genre FROM ROTTEN_TOMATOES_FLAT rtf
    WHERE genre_5 is not null

 UNION ALL
SELECT rtf.*, genre_6 AS n_genre FROM ROTTEN_TOMATOES_FLAT rtf
    WHERE genre_6 is not null
    )
ORDER BY n_genre

In [41]:
for r in  cursor.execute(union_genres):
    print(r)

('Action',)
('Adventure',)
('Animation',)
('Anime',)
('Biography',)
('Comedy',)
('Crime',)
('Documentary',)
('Drama',)
('Fantasy',)
('History',)
('Horror',)
('Kids And Family',)
('Music',)
('Musical',)
('Mystery And Thriller',)
('Other',)
('Romance',)
('Sci Fi',)
('Sports And Fitness',)
('War',)
('Western',)

### Four
> Which genre has the highest rating on average?

In [42]:
union_genres_union_clauses = union_all(name_prefix='genre',new_name ='n_genre',max_columns=max_genres)
genre_and_score = f"""
SELECT 
n_genre AS genre,
CASE
	WHEN LENGTH(TRIM(TO_CHAR(TOMATOMETER_SCORE))) < 4
		THEN TO_NUMBER( 
		          REVERSE(SUBSTR(
		          REVERSE(
		                 TRIM(TO_CHAR(TOMATOMETER_SCORE))
		                 )
		          ,2)) 
		          )  
END SCORE 
FROM ({union_genres_union_clauses}) 
"""

avg_score_per_genre =  f"""
 SELECT genre, AVG(score) as mean
FROM ({genre_and_score})
GROUP BY genre 

"""

max_avg_score_per_genre =  f"""
 SELECT MAX(mean)
 FROM ({avg_score_per_genre})
 """

genres_with_highest_score = f"""
SELECT *
FROM ({avg_score_per_genre})
WHERE mean = ({max_avg_score_per_genre})
"""

print(' Average Score per Genre \n')
for r in  cursor.execute(avg_score_per_genre):
    print(r)


print('\n Max Value of the Average Score per Genre \n')
    
for r in  cursor.execute(max_avg_score_per_genre):
    print(r)

    
print('\n Genre(s) with highest score on average \n')
    
for r in  cursor.execute(genres_with_highest_score):
    print(r)

 Average Score per Genre

('Documentary', 93.35860058309038)
('Kids And Family', 88.32876712328768)
('Mystery And Thriller', 89.12946428571429)
('Adventure', 88.45454545454545)
('Fantasy', 88.1842105263158)
('Romance', 88.40336134453781)
('Sports And Fitness', 88.75)
('Horror', 90.62121212121212)
('Sci Fi', 86.82191780821918)
('Animation', 90.54794520547945)
('Action', 87.04379562043796)
('History', 91.34736842105264)
('Other', 90.33333333333333)
('Biography', 90.24509803921569)
('Anime', 90.33333333333333)
('Drama', 90.14988290398126)
('Comedy', 89.2463768115942)
('Crime', 89.60215053763442)
('War', 90.4)
('Western', 90.55555555555556)
('Music', 92.1025641025641)
('Musical', 89.16666666666667)

 Max Value of the Average Score per Genre

(93.35860058309038,)

 Genre(s) with highest score on average

('Documentary', 93.35860058309038)

### FIVE
> Which is the least profitable genre (on average)?

In [43]:
union_genres_union_clauses = union_all(
    name_prefix='genre', new_name='n_genre', max_columns=max_genres
)

genre_and_gross = f"""
SELECT 
n_genre AS genre, gross_num
FROM (
    SELECT rtf.*, 
        CASE SUBSTR(bogu,-1) 
            WHEN 'M' THEN TO_NUMBER(REVERSE(SUBSTR(REVERSE(bogu),2))) * 1000000
            WHEN 'K' THEN TO_NUMBER(REVERSE(SUBSTR(REVERSE(bogu),2))) * 1000
            ELSE NULL
        END AS GROSS_NUM
    FROM 
        (
        SELECT rtf.*, SUBSTR(TO_CHAR( BOX_OFFICE_GROSS_USA),2) AS bogu FROM ({union_genres_union_clauses})  rtf
       ) rtf
)       
"""

avg_gross_per_genre = f"""
 SELECT genre, AVG(gross_num) as mean
FROM ({genre_and_gross})
GROUP BY genre 

"""

max_avg_gross_per_genre = f"""
 SELECT MAX(mean)
 FROM ({avg_gross_per_genre})
 """

genres_with_highest_gross = f"""
SELECT *
FROM ({avg_gross_per_genre})
WHERE mean = ({max_avg_gross_per_genre})
"""

print(' Average Gross Number per Genre \n')
for r in cursor.execute(avg_gross_per_genre):
    print(r)

print('\n Max Value of the Average Gross Number per Genre \n')

for r in cursor.execute(max_avg_gross_per_genre):
    print(r)

print('\n Genre(s) with highest Gross Number on average \n')

for r in cursor.execute(genres_with_highest_gross):
    print(r)

 Average Gross Number per Genre

('Documentary', 2504043.8311688313)
('Kids And Family', 148341546.55172414)
('Mystery And Thriller', 37955485)
('Adventure', 178596776.05633804)
('Fantasy', 188697955)
('Romance', 23522772.897196263)
('Sports And Fitness', 6205350)
('Horror', 29428121.42857143)
('Sci Fi', 169652024.24242425)
('Animation', 130001068.51851852)
('Action', 163610438.70967743)
('History', 25729268.888888888)
('Other', 501333.3333333333)
('Biography', 25255140.425531916)
('Anime', 5959350)
('Drama', 18136903.641092326)
('Comedy', 54064438.666666664)
('Crime', 23727787.777777776)
('War', 19913485.36585366)
('Western', 41612193.333333336)
('Music', 25433709.09090909)
('Musical', 122544385.71428572)

 Max Value of the Average Gross Number per Genre

(188697955,)

 Genre(s) with highest Gross Number on average

('Fantasy', 188697955)

### SIX
 > Which are the top  movie's original languages?

In [44]:
order_language = f"""
SELECT language, COUNT(language)
FROM (
     SELECT TO_CHAR(original_language) AS language
     FROM ROTTEN_TOMATOES_RAW 
     )
GROUP BY language
ORDER BY COUNT(language) DESC
"""

for r in cursor.execute(order_language):
    print(r)

('English', 1139)
('French (France)', 49)
('French (Canada)', 46)
('Spanish', 38)
('English (United Kingdom)', 36)
('Japanese', 27)
('German', 23)
('Chinese', 20)
('Arabic', 19)
('Hebrew', 14)
('Persian', 13)
('Korean', 13)
('Portuguese (Brazil)', 11)
('Spanish (Spain)', 10)
('Italian', 10)
('Danish', 9)
('Swedish', 9)
('Romanian', 9)
('Russian', 8)
('Turkish', 7)
('Norwegian', 7)
('Polish', 6)
('English (Australia)', 5)
('Thai', 4)
('Hindi', 4)
('Indonesian', 4)
('Hungarian', 4)
('Finnish', 4)
('Icelandic', 3)
('Dutch', 3)
('Georgian', 2)
('Marathi', 2)
('Nepali', 2)
('Unknown language', 2)
('Portuguese', 2)
('Albanian', 1)
('Czech', 1)
('Yiddish', 1)
('Tibetan', 1)
('Lingala', 1)
('Tagalog', 1)
('Mongolian', 1)
('Catalan', 1)
('Afrikaans', 1)
('Lao', 1)
('Dzongkha', 1)
('Bambara', 1)
('Serbian', 1)
('Greek', 1)
('Kalaallisut', 1)
('Kurdish', 1)
('Wolof', 1)
(None, 0)

### SEVEN
> Which movie has more positive/negative critics? What are the genres?

### EIGTH
> Which director has directed more movies?

In [45]:
max_directors =  [int(result[0]) for col in ['DIRECTOR'] for result in cursor.execute(q_max_names(col))][0]

max_directors

5

In [46]:
union_directors_union_clauses = union_all(name_prefix='director',new_name ='n_director',max_columns=max_directors)

In [47]:
director_freq = f"""
SELECT  n_director AS director, COUNT(n_director) AS num_movies
FROM ({union_directors_union_clauses})
GROUP BY n_director
"""

max_director = f"""
 SELECT MAX(num_movies)
 FROM ({director_freq})
 """

directors_with_highest_num_films = f"""
SELECT *
FROM ({director_freq})
WHERE num_movies = ({max_director})
"""

print('\n Max number of films  directed by one person \n')

for r in cursor.execute(max_director):
    print(r)

print('\n Director(s) with the highest number of films \n')

for r in cursor.execute(directors_with_highest_num_films):
    print(r)

 Max number of films  directed by one person

(11,)

 Director(s) with the highest number of films

('Alex Gibney', 11)

### NINE
> Which movies have a score of 9 or higher? Who directed them?  
> What was the average budget for movies with a score/rating of 90 or higher?

In [48]:
percentage_to_num = lambda col_name: f"""
   CASE
    WHEN LENGTH(TRIM(TO_CHAR({col_name}))) < 4
    THEN TO_NUMBER( 
              REVERSE(SUBSTR(
              REVERSE(
                     TRIM(TO_CHAR({col_name}))
                     )
              ,2)) 
              )  
    END {col_name}
"""

tomatometer_score = percentage_to_num('tomatometer_score')
audience_score = percentage_to_num('audience_score')

scores_to_num = f"""
SELECT film_name, director,
 {tomatometer_score},
 {audience_score}
 FROM ROTTEN_TOMATOES_RAW rtr
"""

tomatoes_greater_than_99 = f"""
SELECT *
FROM ({scores_to_num})
WHERE tomatometer_score >= 99
"""

audience_greater_than_95 = f"""
SELECT *
FROM ({scores_to_num})
WHERE audience_score >= 95
"""

ave_audience_score_for_greater_than_95 = f"""
SELECT *
FROM ({scores_to_num})
WHERE audience_score >= 95
"""


print("Tomatometer Score greater than 99 percent\n")

for r in cursor.execute(tomatoes_greater_than_99):
    print(r[0], r[1], r[2])

print("\n Audience Score greater than 95  percent\n")

for r in cursor.execute(audience_greater_than_95):
    print(r[0], r[1], r[3])
    
print("\n Average buget for movies with  95  percent(audience score)\n")

for r in cursor.execute(audience_greater_than_95):
    print(r[0], r[1], r[3])

Tomatometer Score greater than 99 percent

A Separation (2011) Asghar Farhadi 99
Le Havre (2011) Aki Kaurismäki 99
The Interrupters (2011) Steve James 99
Bill Cunningham New York (2011) Richard Press 99
Cameraperson (2016) Kirsten Johnson 99
Tower (2016) Keith Maitland 99
Under The Shadow (2016) Babak Anvari 99
Things to Come (L'avenir) (2016) Mia Hansen-Løve 99
The Wailing (Goksung) (2016) Na Hong-jin 99
Selma (2014) Ava DuVernay 99
Starred Up (2014) David Mackenzie 99
The Missing Picture (2014) Rithy Panh 99
Elaine Stritch: Shoot Me (2014) Chiemi Karasawa 99
Song Of The Sea (2014) Tomm Moore 99
Gloria (2014) Sebastián Lelio 99
How to Train Your Dragon (2010) Christopher Sanders, Dean DeBlois 99
The Invisible War (2012) Kirby Dick 99
Apollo 11 (2019) Todd Douglas Miller 99
Amazing Grace (2019) Alan Elliott 99
Ash Is Purest White (2019) ZhangKe Jia 99
They Shall Not Grow Old (2019) Peter Jackson 99
Knock Down the House (2019) Rachel Lears 99
For Sama (2019) Edward Watts, Waad Al-Khateab 99
The Chambermaid (La camarista) (2019) Lila Avilés 99
Parasite (Gisaengchung) (2019) Joon-ho Bong 99
Jiro Dreams of Sushi (2012) David Gelb 99
Never Rarely Sometimes Always (2020) Eliza Hittman 99
Miss Juneteenth (2020) Channing Godfrey Peoples 99
Time (2020) Garrett Bradley 99
Saint Frances (2020) Alex Thompson 99
Totally Under Control (2020) Alex Gibney, Ophelia Harutyunyan, Suzanne Hillinger 99
On the Record (2020) Kirby Dick, Amy Ziering 99
Truman (2017) Cesc Gay 99
I Am Not Your Negro (2017) Raoul Peck 99
Faces Places (Visages, villages) (2017) Agnès Varda, J.R. 99
My Life as a Zucchini (Ma vie de courgette) (2017) Claude Barras 99
About Elly (2015) Asghar Farhadi 99
Lady Bird (2017) Greta Gerwig 99
20 Feet From Stardom (2013) Morgan Neville 99
Wadjda (2013) Haifaa Al-Mansour 99
Shaun the Sheep Movie (2015) Mark Burton, Richard Starzak 99
56 Up (2013) Michael Apted, Paul Almond 99
The Tale (2018) Jennifer Fox 99
Eighth Grade (2018) Bo Burnham 99
Shoplifters (Manbiki kazoku) (2018) Hirokazu Koreeda 99
McQueen (2018) Ian Bonhôte, Peter Ettedgui 99

 Audience Score greater than 95  percent

Senna (2011) Asif Kapadia 95
O.J.: Made in America (2016) Ezra Edelman 97
Spider-Man: Far From Home (2019) Jon Watts 95
Ford v Ferrari (2019) James Mangold 98
Dark Waters (2019) Todd Haynes 95
Fiddler: A Miracle of Miracles (2019) Max Lewkowicz 98
Love, Antosha (2019) Garret Price 95
The Peanut Butter Falcon (2019) Tyler Nilson, Michael Schwartz 96
Maiden (2019) Alex Holmes 97
Be Natural: The Untold Story of Alice Guy-Blaché (2019) Pamela B. Green 97
And Then We Danced (2020) Levan Akin 95
Toni Morrison: The Pieces I Am (2019) Timothy Greenfield-Sanders 96
Onward (2020) Dan Scanlon 95
God Grew Tired Of Us (2007) Christopher Dillon Quinn 95
Just Mercy (2020) Destin Daniel Cretton 99
Rewind (2020) Sasha Neulinger 96
The Lives of Others (2006) Florian Henckel von Donnersmarck 96
Dear Zachary: A Letter to a Son About His Father (2008) Kurt Kuenne 96

 Average buget for movies with  95  percent(audience score)

Senna (2011) Asif Kapadia 95
O.J.: Made in America (2016) Ezra Edelman 97
Spider-Man: Far From Home (2019) Jon Watts 95
Ford v Ferrari (2019) James Mangold 98
Dark Waters (2019) Todd Haynes 95
Fiddler: A Miracle of Miracles (2019) Max Lewkowicz 98
Love, Antosha (2019) Garret Price 95
The Peanut Butter Falcon (2019) Tyler Nilson, Michael Schwartz 96
Maiden (2019) Alex Holmes 97
Be Natural: The Untold Story of Alice Guy-Blaché (2019) Pamela B. Green 97
And Then We Danced (2020) Levan Akin 95
Toni Morrison: The Pieces I Am (2019) Timothy Greenfield-Sanders 96
Onward (2020) Dan Scanlon 95
God Grew Tired Of Us (2007) Christopher Dillon Quinn 95
Just Mercy (2020) Destin Daniel Cretton 99
Rewind (2020) Sasha Neulinger 96
The Lives of Others (2006) Florian Henckel von Donnersmarck 96
Dear Zachary: A Letter to a Son About His Father (2008) Kurt Kuenne 96

In [49]:
gross_to_num = f"""
(
    SELECT rtf.*, 
        CASE SUBSTR(bogu,-1) 
            WHEN 'M' THEN TO_NUMBER(REVERSE(SUBSTR(REVERSE(bogu),2))) * 1000000
            WHEN 'K' THEN TO_NUMBER(REVERSE(SUBSTR(REVERSE(bogu),2))) * 1000
            ELSE NULL
        END AS GROSS_NUM
    FROM 
        (
        SELECT rtf.*, SUBSTR(TO_CHAR( BOX_OFFICE_GROSS_USA),2) AS bogu FROM ROTTEN_TOMATOES_RAW  rtf
       ) rtf
)       
"""

percentage_to_num = lambda col_name: f"""
   CASE
    WHEN LENGTH(TRIM(TO_CHAR({col_name}))) < 4
    THEN TO_NUMBER( 
              REVERSE(SUBSTR(
              REVERSE(
                     TRIM(TO_CHAR({col_name}))
                     )
              ,2)) 
              )  
    END {col_name}
"""



tomatometer_score = percentage_to_num('tomatometer_score')
audience_score = percentage_to_num('audience_score')

scores_to_num = f"""
SELECT gross_num,
 {tomatometer_score},
 {audience_score}
 FROM ({gross_to_num})
"""


ave_audience_score_for_greater_than_95 = f"""
SELECT AVG(gross_num)
FROM (SELECT * FROM ({scores_to_num}) WHERE audience_score >= 95)
"""

    
print("\n Average buget for movies with  95  percent(audience score)\n")

for r in cursor.execute(ave_audience_score_for_greater_than_95):
    print(r)

 Average buget for movies with  95  percent(audience score)

(43629906.666666664,)

### TEN

> What are the movies with the highest score per year?

In [68]:
percentage_to_num = lambda col_name: f"""
   CASE
    WHEN LENGTH(TRIM(TO_CHAR({col_name}))) < 4
    THEN TO_NUMBER(
            REVERSE(
              SUBSTR(
                REVERSE(TRIM(TO_CHAR({col_name})))
              ,2)
            ) 
         )  
    END {col_name}
"""

tomatometer_score = percentage_to_num('tomatometer_score')
audience_score = percentage_to_num('audience_score')

year_of_release = f"""
  SELECT rtr.*, EXTRACT( YEAR FROM TO_DATE(RELEASE_DATE_STREAMING,'MONTH DD, YYYY')) AS year_of_release
  FROM ROTTEN_TOMATOES_RAW rtr
"""

scores_to_num = f"""
SELECT TRIM(TO_CHAR(film_name)) AS film_name, year_of_release,
 {tomatometer_score},
 {audience_score}
FROM ({year_of_release}) 
WHERE year_of_release IS NOT NULL
"""

partition_highest_score_per_year = f"""
SELECT yor.*, MAX(yor.audience_score) OVER(PARTITION BY year_of_release) AS max_score_per_year
FROM ({scores_to_num}) yor
"""


movie_highest_score_per_year = f"""
SELECT year_of_release, film_name, audience_score
FROM ({partition_highest_score_per_year}) 
WHERE max_score_per_year = audience_score
"""

print("\n Average buget for movies with  95  percent(audience score)\n")

for r in cursor.execute(movie_highest_score_per_year):
    print(r)

 Average buget for movies with  95  percent(audience score)

(2005, 'Shake Hands with the Devil: The Journey of Romeo Dallaire (2005)', 91)
(2006, 'The Perfect Crime (El Crimen Perfecto)(Crimen ferpecto) (2005)', 83)
(2007, 'Blame It on Fidel (La Faute a Fidel) (2006)', 91)
(2008, 'The Departed (2006)', 94)
(2009, 'Batman Begins (2005)', 94)
(2010, 'The Dark Knight (2008)', 94)
(2011, 'Cell 211 (Celda 211) (2009)', 88)
(2012, 'The Lives of Others (2006)', 96)
(2013, 'Persepolis (2007)', 92)
(2013, 'Warrior (2011)', 92)
(2014, 'The Crash Reel (2013)', 94)
(2015, 'The Cove (2009)', 94)
(2016, 'Dear Zachary: A Letter to a Son About His Father (2008)', 96)
(2017, 'Oldboy (2005)', 94)
(2017, 'Turtles Can Fly (2005)', 94)
(2017, 'Icarus (2017)', 94)
(2017, 'No End in Sight (2007)', 94)
(2018, "Won't You Be My Neighbor? (2018)", 94)
(2018, 'Coco (2017)', 94)
(2018, 'Your Name. (Kimi No Na Wa.) (2017)', 94)
(2019, 'Just Mercy (2020)', 99)
(2020, 'Rewind (2020)', 96)

### ELEVEN

> Find the movie with fewer scores from the top 20 most expensive movies. (Show output as “movie-x scores N  and had a budget of $99,999,999.00” )

In [129]:
gross_to_num = f"""
SELECT rtr.*, 
    CASE SUBSTR(bogu,-1) 
        WHEN 'M' THEN TO_NUMBER(REVERSE(SUBSTR(REVERSE(bogu),2))) * 1000000
        WHEN 'K' THEN TO_NUMBER(REVERSE(SUBSTR(REVERSE(bogu),2))) * 1000
        ELSE NULL
    END AS GROSS_NUM
FROM 
    (
    SELECT rtr.*, SUBSTR(TO_CHAR( BOX_OFFICE_GROSS_USA),2) AS bogu FROM ROTTEN_TOMATOES_RAW  rtr
    WHERE box_office_gross_usa IS NOT NULL
   ) rtr    
"""

percentage_to_num = lambda col_name: f"""
   CASE
    WHEN LENGTH(TRIM(TO_CHAR({col_name}))) < 4
    THEN TO_NUMBER(
            REVERSE(
              SUBSTR(
                REVERSE(TRIM(TO_CHAR({col_name})))
              ,2)
            ) 
         )  
    END {col_name}
"""

audience_score = percentage_to_num('audience_score')


scores_to_num = f"""
SELECT TRIM(TO_CHAR(film_name)) AS film_name, gross_num, box_office_gross_usa,
 {audience_score}
FROM ({gross_to_num}) 
"""

top_expensive = f"""
SELECT *
FROM ({scores_to_num})
WHERE gross_num IS NOT NULL 
ORDER BY gross_num DESC
"""
 
lowest_score_top_20 = f"""
SELECT 'movie ' || film_name || ' scores ' || audience_score  || ' with a bugdet of ' || box_office_gross_usa
FROM ({top_expensive})
WHERE ROWNUM <= 20
ORDER BY audience_score ASC
"""


print("\n Lowest Scores for the Top 20 most expensive films \n")

for r in cursor.execute(lowest_score_top_20):
    print(r[0])

 Average buget for movies with  95  percent(audience score)

movie Star Wars: The Last Jedi (2017) scores 42 with a bugdet of $620.2M
movie Captain Marvel (2019) scores 46 with a bugdet of $426.8M
movie Star Wars: Episode III - Revenge of the Sith (2005) scores 66 with a bugdet of $380.3M
movie Iron Man 3 (2013) scores 78 with a bugdet of $409.0M
movie Black Panther (2018) scores 79 with a bugdet of $700.2M
movie The Hunger Games (2012) scores 81 with a bugdet of $408.0M
movie Avatar (2009) scores 82 with a bugdet of $760.5M
movie Incredibles 2 (2018) scores 84 with a bugdet of $608.6M
movie Finding Dory (2016) scores 84 with a bugdet of $486.2M
movie Wonder Woman (2017) scores 85 with a bugdet of $412.6M
movie Frozen (2013) scores 85 with a bugdet of $400.9M
movie Rogue One: A Star Wars Story (2016) scores 86 with a bugdet of $532.2M
movie Guardians of the Galaxy Vol. 2 (2017) scores 87 with a bugdet of $389.8M
movie Toy Story 3 (2010) scores 89 with a bugdet of $415.0M
movie Harry Potter and the Deathly Hallows - Part 2 (2011) scores 89 with a bugdet of $381.0M
movie Captain America: Civil War (2016) scores 89 with a bugdet of $408.1M
movie Avengers: Endgame (2019) scores 90 with a bugdet of $858.4M
movie Avengers: Infinity War (2018) scores 91 with a bugdet of $678.8M
movie Toy Story 4 (2019) scores 94 with a bugdet of $434.0M
movie Spider-Man: Far From Home (2019) scores 95 with a bugdet of $390.7M

### TWELVE

> List all the distinct Rates

In [136]:
ratings = """
SELECT DISTINCT(rating)
FROM (SELECT TRIM(TO_CHAR(regexp_substr("RATING", '^[^ ]+',1, 1)))  AS rating 
      FROM rotten_tomatoes_raw
      WHERE rating IS NOT NULL
      )
ORDER BY rating
"""
for r in cursor.execute(ratings):
    print(r[0])

G
NC-17
PG
PG-13
R
TV14
TVMA

### THIRTEEN

> What is the average runtime per year?

In [150]:
year_of_release = f"""
  SELECT rtr.*, EXTRACT( YEAR FROM TO_DATE(RELEASE_DATE_STREAMING,'MONTH DD, YYYY')) AS year_of_release
  FROM ROTTEN_TOMATOES_RAW rtr
"""

runtime_and_year_of_release = f"""
SELECT rt.*,  hours * 60 + minutes AS runtime_minutes
  FROM  (
 SELECT  year_of_release, TO_CHAR(runtime), 
 CASE
     WHEN  SUBSTR(TO_CHAR(runtime),2,1) = 'h'
     THEN  TO_NUMBER(SUBSTR(TO_CHAR(runtime),1,1)) 
     ELSE  0
 END hours, 
 CASE
     WHEN  SUBSTR(TO_CHAR(runtime),3,1) = 'm'
     THEN  TO_NUMBER(SUBSTR(TO_CHAR(runtime),1,2)) 
     WHEN  SUBSTR(TO_CHAR(runtime),5,1) = 'm'
     THEN  TO_NUMBER(SUBSTR(TO_CHAR(runtime),4,1))
     WHEN  SUBSTR(TO_CHAR(runtime),6,1) = 'm'
     THEN  TO_NUMBER(SUBSTR(TO_CHAR(runtime),4,2))
     ELSE 0
 END minutes
 FROM ({year_of_release}) 
 WHERE year_of_release IS NOT NULL
 )  rt
"""
avg_runtime_per_year = f"""
SELECT year_of_release, AVG(runtime_minutes)
FROM ({runtime_and_year_of_release})
GROUP BY year_of_release
"""

for r in cursor.execute(avg_runtime_per_year):
    print(r)

(2014, 111.47435897435898)
(2011, 112.77777777777777)
(2009, 107.72727272727273)
(2007, 105.58823529411765)
(2010, 108.21428571428571)
(2008, 113.21052631578948)
(2006, 92.8)
(2015, 107.73255813953489)
(2017, 108.3202846975089)
(2012, 107.125)
(2019, 112.632)
(2021, 110)
(2016, 104.88981288981289)
(2005, 106.5)
(2013, 111.09803921568627)
(2020, 102.61061946902655)
(2018, 108.11009174311927)

### FOURTEEN
> How much money was spent making movies each year?


						
Which actor/actress has appeared in more movies?		


Create a column where the legend "OSCAR" appears if the movies have won any Oscars and the legend "no-oscar" if none. show the list in alphabetical order
Guess the name of the actor appearing in the list of movies! Create a view that returns 
the first and last string of the actor's name and "*****" in between. 
How often critics disagree with the fan’s opinion?

In [ ]:
q ="""
SELECT table_name, column_name, data_type, data_length
FROM USER_TAB_COLUMNS
WHERE table_name = 'ROTTEN_TOMATOES_RAW'
"""
for r in  cursor.execute(q):
    print(r)